@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#vt-main-section section {
    background: linear-gradient(123.21deg, #EAEBF0 60.58%, #D8D9DE 89.05%);
}

#vt-main-section #add-plan {
    padding: 40px 80px 50px 40px;
}

#vt-main-section #add-plan .breadcrumb {
    margin-bottom: 0px !important;
}

#vt-main-section #add-plan .breadcrumb-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#vt-main-section #add-plan .breadcrumb-item+.breadcrumb-item::before {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none !important;
    order: 2 !important;
    flex-grow: 0 !important;
}

#vt-main-section #add-plan #breadcrub-ancer-tag {
    color: #202123;
    text-decoration: none;
}

#vt-main-section #add-plan .row-padding-top {
    padding-top: 30px;
}

#vt-main-section #add-plan .row-padding-bottom-1 {
    padding-bottom: 30px !important;
}

#vt-main-section #add-plan .ps-2 {
    padding-left: 30px !important;
    padding-top: 30px;
}

#vt-main-section #add-plan #form .form-select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    text-align: start;
    height: 35px;
}

#vt-main-section #add-plan #form .form-select:focus {
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    box-shadow: none;
}

#vt-main-section #add-plan #form .table>:not(caption)>*>* {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#vt-main-section #add-plan #form .table>thead {
    background: #003B74;
    border: 1px solid #706F6F !important;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

#vt-main-section #add-plan #form .table {
    border: 1px solid #706F6F !important;
}

#vt-main-section #add-plan #form .text-end {
    text-align: right !important;
    padding: 30px 30px 40px 0px;
}

#vt-main-section #add-plan h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #003B74;
    margin-bottom: 0px !important;
}

#vt-main-section #add-plan #form {
    background: #FFFFFF;
    border-radius: 10px;
}

#vt-main-section #add-plan #form .image-padding {
    padding: 0px 15px 0px 53px;
}

#vt-main-section #add-plan #form .custom-button-1 {
    padding: 11px 53px 11px 0px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    background: #1A77F8;
    border-radius: 5px;
}

#vt-main-section #add-plan #form .custom-button-2 {
    padding: 12px 60px 11px 60px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 120% !important;
    color: #FFFFFF !important;
    background: linear-gradient(180deg, #003B74 0%, rgba(0, 59, 116, 0) 463%);
    border-radius: 5px;
}

#vt-main-section #add-plan #form .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

#vt-main-section #add-plan #form .add-new-expance {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#vt-main-section #add-plan #form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    text-align: start;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #vt-main-section #add-plan {
        padding: 40px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #vt-main-section #add-plan {
        padding: 40px;
    }

    #vt-main-section #add-plan #form .form-select {
        font-size: 9px;
    }

    #vt-main-section #add-plan #form .custom-button-1 {
        font-size: 12px;
    }

    #vt-main-section #add-plan #form .custom-button-2 {
        font-size: 10px !important;
        padding: 10px 40px 10px 40px !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    #vt-main-section #add-plan {
        padding: 30px;
    }

    #vt-main-section #add-plan .breadcrumb-item {
        font-size: 12px;
    }

    #vt-main-section #add-plan #form .custom-button-2 {
        font-size: 10px !important;
        padding: 6px 30px 6px 30px !important;
    }

    #vt-main-section #add-plan #form .table>:not(caption)>*>* {
        font-size: 12px;
    }

    #vt-main-section #add-plan .row-padding-bottom-1 {
        padding-bottom: 20px !important;
    }

    #vt-main-section #add-plan .row-padding-top {
        padding-top: 20px;
    }

    #vt-main-section #add-plan #form .text-end {
        padding: 20px 30px 30px 0px;
    }

    #vt-main-section #add-plan h3 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
    #vt-main-section #add-plan {
        padding: 20px;
    }

    #vt-main-section #add-plan .breadcrumb-item {
        font-size: 10px;
    }

    #vt-main-section #add-plan h3 {
        font-size: 14px;
    }

    #vt-main-section #add-plan #form .custom-button-2 {
        font-size: 9px !important;
        padding: 6px 30px 6px 30px !important;
    }

    #vt-main-section #add-plan .table>:not(caption)>*>* {
        font-size: 10px;
    }

    #vt-main-section #add-plan .row-padding-bottom-1 {
        padding-bottom: 15px !important;
    }

    #vt-main-section #add-plan .row-padding-top {
        padding-top: 15px;
    }

    #vt-main-section #add-plan #form .text-end {
        padding: 15px 25px 30px 0px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 576px) {
    #vt-main-section #add-plan .custom-button-1 {
        width: 100%;
        font-size: 12px;
    }

    #vt-main-section #add-plan .ps-2 {
        padding-left: 12px !important;
        padding-top: 30px;
    }

    #vt-main-section #add-plan .add-new-expance {
        padding-top: 30px;
    }

    #vt-main-section #add-plan #form .form-select {
        font-size: 12px;
    }
}