@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#vt-main-section section {
    background: linear-gradient(123.21deg, #EAEBF0 60.58%, #D8D9DE 89.05%);
}

#vt-main-section #add-employee-married {
    padding: 40px 80px 50px 40px;
}

#vt-main-section #add-employee-married .breadcrumb {
    margin-bottom: 0px !important;
}

#vt-main-section #add-employee-married .breadcrumb-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#vt-main-section #add-employee-married .breadcrumb-item+.breadcrumb-item::before {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none !important;
    order: 2 !important;
    flex-grow: 0 !important;
}

#vt-main-section #add-employee-married nav ol li #breadcrub-ancer-tag {
    color: #202123;
    text-decoration: none;
}

#vt-main-section #add-employee-married .row-padding-top {
    padding-top: 30px;
}

#vt-main-section #add-employee-married .row-padding-bottom {
    padding-bottom: 30px;
}

#vt-main-section #add-employee-married #form .mb-3 .col-form-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

#vt-main-section #add-employee-married #form .col-12 form .custom-get-info {
    display: flex !important;
    align-items: center !important;
}

#vt-main-section #add-employee-married #form .form-control {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    background: #F5F7FA;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 35px;
}

#vt-main-section #add-employee-married #form .form-control:focus {
    box-shadow: none !important;
}

#vt-main-section #add-employee-married #form .margin-top .dropdown .form-select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 35px;
}

#vt-main-section #add-employee-married #form .margin-top .dropdown .form-select:focus {
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    box-shadow: none;
}



#vt-main-section #add-employee-married #form .mb-3 {
    margin-bottom: 25px !important;
}

#vt-main-section #add-employee-married #form .margin-top {
    margin-top: 25px !important;
}

#vt-main-section #add-employee-married #form .col-12 form {
    padding-top: 30px;
    padding-bottom: 50px;
}

#vt-main-section #add-employee-married #form .col-12 #form-check .form-check-inline {
    margin-right: 30px !important;
}

#vt-main-section #add-employee-married #form .col-12 .form-check-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    box-shadow: none;
}

#vt-main-section #add-employee-married #form .col-12 #form-check .form-check {
    margin-bottom: 0px !important;
}

#vt-main-section #add-employee-married .row .col-12 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #003B74;
    margin-bottom: 0px !important;
}

#vt-main-section #add-employee-married #form .col-12 .row .issue-expire h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0px !important;
}

#vt-main-section #add-employee-married #form {
    background: #FFFFFF;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#vt-main-section #add-employee-married .row-padding-top #form .button {
    padding: 30px 30px 30px 0px;
}

#vt-main-section #add-employee-married .row-padding-top #form .button .custom-button {
    padding: 12px 45px 11px 45px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 120% !important;
    color: #FFFFFF !important;
    background: linear-gradient(180deg, #003B74 0%, rgba(0, 59, 116, 0) 463%);
    border-radius: 5px;
}

#vt-main-section #add-employee-married .row-padding-top #form .button .custom-button .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

#vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
    display: flex;
    align-items: center;
}

#vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn {
    padding: 9px 28px 8px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    background: #1A77F8;
    border-radius: 5px;
    text-decoration: none;
}

#vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn .image-padding {
    padding: 0px 15px 0px 28px;
}

#vt-main-section #add-employee-married #form .col-12 form .row .table-responsive .table>:not(:last-child)>:last-child>* {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    background: #003B74;
    border: 1px solid #706F6F;
    border-radius: 0px;
}

#vt-main-section #add-employee-married #form .col-12 form .row .table-responsive .table>:not(caption)>*>* {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#vt-main-section #add-employee-married #form .col-12 form .row .table-responsive .table {
    border: 1px solid #706F6F !important;
}

#vt-main-section #add-employee-married #form .col-12 form .col-sm-8 .row .col-sm-3 .dependents {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
}




/* PROGRESS BAR */


/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
} */

/* body {
    background-color: #2f2e41;
    font-size: 1.6rem;
    font-family: "Genos", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
} */

/* .container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.progress__container {
    height: 55rem;
    max-width: 100%;
    position: relative;
    /* margin-bottom: 5rem; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.progress__container::before {
    content: "";
    height: 10px;
    width: 0.2rem;
    background-color: #ced6d5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: -1; */
}

@media (min-width: 280px) {
    .progress__container {
        width: 100%;
        height: 55px;
        flex-direction: row;
    }

    .progress__container::before {
        width: 100%;
        height: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.progress__bar {
    height: 0%;
    width: 0.2rem;
    background-color: #003B74;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: -1; */
    transition: 0.4s ease;
}

@media (min-width: 280px) {
    .progress__bar {
        width: 0%;
        height: 0.2rem;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.progress__circle {
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    color: #2f2e41;
    background-color: #fff;
    border: 0.2rem solid #003B74;
    border-radius: 50%;
    font-size: 4rem;
    transition: 0.4s ease;
    position: relative;
}

.progress__circle.active {
    color: #00bfa6;
    border: 0.2rem solid #fff;
    background-color: #003B74;
    box-shadow: #003B74 0px 0px 0px 2px;
}

.progress__span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* .btn {
    width: 15rem;
    color: #333;
    background-color: #00bfa6;
    font-family: monospace;
    font-size: 1.6rem;
    border: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    padding: 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 191, 166, 0.8);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
} */

/* PROGRESS BAR */









@media only screen and (min-width: 992px) and (max-width: 1031px) {
    #vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #vt-main-section #add-employee-married {
        padding: 40px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #vt-main-section #add-employee-married {
        padding: 40px;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button {
        padding: 30px 30px 30px 0px !important;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button .custom-button {
        padding: 12px 45px 11px 45px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
        padding-right: 0px !important;
    }

    #vt-main-section #add-employee-married #form .mb-3 .col-form-label {
        font-size: 13px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn {
        padding: 5px 20px 5px 0px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn .image-padding {
        padding: 0px 15px 0px 20px;
    }

    #vt-main-section #add-employee-married #form .col-12 .row .issue-expire h5 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    #vt-main-section #add-employee-married {
        padding: 30px;
    }

    #vt-main-section #add-employee-married .breadcrumb-item {
        font-size: 10px;
    }

    #vt-main-section #add-employee-married .row .col-12 h2 {
        font-size: 17px;
    }

    #vt-main-section #add-employee-married #form .mb-3 .col-form-label {
        font-size: 12px;
    }

    #vt-main-section #add-employee-married #form .form-control {
        font-size: 11px !important;
        height: 25px;
    }

    #vt-main-section #add-employee-married #form .margin-top .dropdown .form-select {
        font-size: 11px;
        height: 25px;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button {
        padding: 25px 20px 25px 0px !important;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button .custom-button {
        font-size: 13px !important;
        padding: 10px 30px 10px 30px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #vt-main-section #add-employee-married #form .mb-3 {
        margin-bottom: 20px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
        padding-right: 0px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn {
        padding: 5px 15px 5px 0px;
        font-size: 12px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn .image-padding {
        padding: 0px 10px 0px 15px;
        height: 10px;
        width: 35px;
    }

    #vt-main-section #add-employee-married #form .col-12 .row .issue-expire h5 {
        font-size: 8px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
    #vt-main-section #add-employee-married {
        padding: 20px;
    }

    #vt-main-section #add-employee-married .breadcrumb-item {
        font-size: 8px;
    }

    #vt-main-section #add-employee-married .row .col-12 h2 {
        font-size: 15px;
    }

    #vt-main-section #add-employee-married #form .mb-3 .col-form-label {
        font-size: 12px;
    }

    #vt-main-section #add-employee-married #form .form-control {
        font-size: 10px !important;
        height: 25px;
    }

    #vt-main-section #add-employee-married #form .margin-top .dropdown .form-select {
        font-size: 10px;
        height: 25px;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button {
        padding: 25px 20px 25px 0px !important;
    }

    #vt-main-section #add-employee-married .row-padding-top #form .button .custom-button {
        font-size: 12px !important;
        padding: 8px 25px 8px 25px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #vt-main-section #add-employee-married #form .mb-3 {
        margin-bottom: 10px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .issue-expire {
        padding-right: 0px !important;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn {
        padding: 5px 15px 5px 0px;
        font-size: 12px;
    }

    #vt-main-section #add-employee-married #form .col-12 form .row .col-sm-8 .add-btn .image-padding {
        padding: 0px 10px 0px 15px;
        height: 10px;
        width: 35px;
    }

    #vt-main-section #add-employee-married #form .col-12 .row .issue-expire h5 {
        font-size: 8px;
    }
}