@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#vt-main-section section {
    background: linear-gradient(123.21deg, #EAEBF0 60.58%, #D8D9DE 89.05%);
}

#vt-main-section #add-installment {
    padding: 40px 80px 58px 40px;
}

#vt-main-section #add-installment .breadcrumb {
    margin-bottom: 0px !important;
}

#vt-main-section #add-installment .breadcrumb-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#vt-main-section #add-installment .breadcrumb-item+.breadcrumb-item::before {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B0BABF;
    flex: none !important;
    order: 2 !important;
    flex-grow: 0 !important;
}

#vt-main-section #add-installment #breadcrumb-ancer-tag {
    color: #202123;
    text-decoration: none;
}

#vt-main-section #add-installment a:hover {
    color: #202123;
}

#vt-main-section #add-installment .row-padding-top {
    padding-top: 30px;
}

#vt-main-section #add-installment .row-padding-bottom {
    padding-bottom: 30px;
}

#vt-main-section #add-installment .col-form-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

#vt-main-section #add-installment .col-sm-4 {
    display: flex !important;
    align-items: center !important;
}

#vt-main-section #add-installment .form-control {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 120% !important;
    color: rgba(0, 0, 0, 0.6) !important;
    background: #F5F7FA !important;
    border: 0.3px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
}

#vt-main-section #add-installment .form-control:focus {
    box-shadow: none !important;
}

#vt-main-section #add-installment .mb-3 {
    margin-bottom: 25px !important;
}

#vt-main-section #add-installment form {
    padding-top: 30px;
}

#vt-main-section #add-installment .form-check-inline {
    margin-right: 5px !important;
}

#vt-main-section #add-installment .form-check-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    box-shadow: none;
}

#vt-main-section #add-installment .form-check {
    padding-left: 2em !important;
    margin-bottom: 0px !important;
}

#vt-main-section #add-installment .offset-sm-4 {
    margin-left: 0px !important;
}

#vt-main-section #add-installment h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #003B74;
    margin-bottom: 0px !important;
}

#vt-main-section #add-installment .form {
    background: #FFFFFF;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#vt-main-section #add-installment .button {
    padding: 30px 30px 30px 0px !important;
}

#vt-main-section #add-installment .custom-button {
    padding: 12px 45px 11px 45px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 120% !important;
    color: #FFFFFF !important;
    background: linear-gradient(180deg, #003B74 0%, rgba(0, 59, 116, 0) 463%);
    border-radius: 5px;
}

#vt-main-section #add-installment .text-start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    background: #F5F7FA;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#vt-main-section #add-installment .form-select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#vt-main-section #add-installment .form-select:focus {
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    box-shadow: none;
}

#vt-main-section #add-installment .some {
    background: #F5F7FA;
}

#vt-main-section #add-installment .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

#vt-main-section #add-installment .btn:hover {
    color: rgba(0, 0, 0, 0.6) !important;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #vt-main-section #add-installment {
        padding: 40px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #vt-main-section #add-installment {
        padding: 40px;
    }

    #vt-main-section #add-installment .button {
        padding: 30px 30px 30px 0px !important;
    }

    #vt-main-section #add-installment .custom-button {
        padding: 12px 45px 11px 45px !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    #vt-main-section #add-installment {
        padding: 30px;
    }

    #vt-main-section #add-installment .breadcrumb-item {
        font-size: 10px;
    }

    #vt-main-section #add-installment h5 {
        font-size: 17px;
    }

    #vt-main-section #add-installment .text-start {
        font-size: 11px;
    }

    .form-control {
        font-size: 11px !important;
    }

    #vt-main-section #add-installment .button {
        padding: 25px 20px 25px 0px !important;
    }

    #vt-main-section #add-installment .custom-button {
        font-size: 11px !important;
        padding: 10px 30px 10px 30px !important;
    }

    #vt-main-section #add-installment form {
        padding-top: 20px;
    }

    #vt-main-section #add-installment .mb-3 {
        margin-bottom: 20px !important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
    #vt-main-section #add-installment {
        padding: 20px;
    }

    #vt-main-section #add-installment .breadcrumb-item {
        font-size: 7px;
    }

    #vt-main-section #add-installment h5 {
        font-size: 12px;
    }

    #vt-main-section #add-installment .text-start {
        font-size: 9px;
    }

    #vt-main-section #add-installment .form-control {
        font-size: 10px !important;
    }

    #vt-main-section #add-installment .button {
        padding: 25px 20px 25px 0px !important;
    }

    #vt-main-section #add-installment .custom-button {
        font-size: 10px !important;
        padding: 8px 25px 8px 25px !important;
    }

    #vt-main-section #add-installment form {
        padding-top: 10px;
    }

    #vt-main-section #add-installment .mb-3 {
        margin-bottom: 10px !important;
    }
}