/* BEGIN: GOOGLE FONT LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* END: GOOGLE FONT LINK */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#side_nav {
    min-width: 250px;
    max-width: 250px;
    position: sticky;
    top: 0;
    height: 100%;
    transition: 0.5s;
    background: #FFFFFF;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15);
    color: #000;
}

.profile_image {
    padding: 17px 54px;
    background: #FFFFFF;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.profile_row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#menu-btn {
    color: #000;
}

#menu-btn.active {
    color: #000;
}

.toggle>i {
    transition: 0.5s;
}

#menu-btn.active>i {
    transform: rotate(-180deg);
}

.ceo-name {
    padding: 20px 41px 30px;
    position: relative;
}

.ceo-name p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: inline;
    color: #000000;
    padding-left: 4px;
}

.ceo-name span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #616161;
    position: absolute;
    top: 48px;
    left: 83px;
}

/* BEGIN: Accordion */

.sidebar_list {
    padding: 0px 25px;
}

.sidebar_list .accordion-item {
    margin-bottom: 15px;
}

.sidebar_list .accordion-item .accordion-header button {
    background: #003B74;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;

}

.sidebar_list .accordion-item .accordion-body {
    background: #003B74;
    border-top: 0.3px solid #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 0px 5px 20px;
}

.sidebar_list .accordion-item .accordion-body ul {
    padding-left: 20px;
}

.sidebar_list .accordion-item .accordion-body ul li {
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;

}

.sidebar_list .accordion-button::after {
    width: 12px;
    height: 12px;
    background-image: url(../img/plus.png);
    background-size: 12px;
    transition: transform .2s ease-in-out;
}

.sidebar_list .accordion-button:not(.collapsed)::after {
    background-image: url(../img/minas.png);
    transform: rotate(-180deg);
    background-position: center;
}

/* END: Accordion */







@media (min-width: 992px) {
    .toggle {
        display: none;
    }
}

@media (max-width: 991px) {
    #side_nav {
        min-width: 250px;
        max-width: 250px;
        margin-left: -250px;
        top: 70px;
        height: 100%;
        z-index: 1000;
    }

    #side_nav.active {
        margin-left: 0;
    }

}

@media only screen and (max-width: 480px) {
    .ceo-name {
        padding: 0px 15px 20px;
        position: relative;
    }

    .ceo-name p {
        padding-left: 0px;
    }

    .ceo-name span {
        font-size: 9px;
        position: absolute;
        top: 30px;
        left: 53px;
    }

    .sidebar_list {
        padding: 0px 10px;
    }

    .sidebar_list .accordion-item .accordion-header button {
        padding: 10px 7px;
        font-size: 10px;
    }

    #side_nav {
        min-width: 177px;
        max-width: 177px;
        margin-left: -177px;
        position: sticky;
        height: 100vh;
        padding-top: 30px;
    }
}

/* .overlay_shadow.active {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 260;
    opacity: 0.3;
} */
@media only screen and (max-width: 767px) {
    .toggle {
        position: fixed;
        top: 0px;
        left: 15px;
        z-index: 1;
    }
}